# Backup files
*.bak
*.save
*.backup

# Logs and cache
*.log
**/.cache/

# Machine-specific
**/machineid
**/Dictionaries/
**/DIPS
**/languagepacks.json
**/Preferences
**/cookie
**/lockfile

# Temporary
**/*.tmp
**/*.tmp.*
*.lock

# Application caches
Code/User/globalStorage/
Code/User/sync/
Cursor/Dictionaries/
Cursor/languagepacks.json
Cursor/machineid
Cursor/Preferences
github-copilot/
go/
mozilla/
obs-studio/logs/
obs-studio/profiler_data/
pulse/
spotify/Users/
vesktop/sessionData/
vesktop/Crashpad/
vesktop/state.json
fragments/
simple-update-notifier/
dconf/
VirtualBox/
